In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [28]:
banks = ['JPM/jpmorgan-chase','GS/goldman-sachs','BAC/bank-of-america','C/citigroup','MS/morgan-stanley']
revenue_url = 'https://www.macrotrends.net/stocks/charts/{}/revenue'
urls = []
for i in banks:
    urls.append(revenue_url.format(i))
    
urls

['https://www.macrotrends.net/stocks/charts/JPM/jpmorgan-chase/revenue',
 'https://www.macrotrends.net/stocks/charts/GS/goldman-sachs/revenue',
 'https://www.macrotrends.net/stocks/charts/BAC/bank-of-america/revenue',
 'https://www.macrotrends.net/stocks/charts/C/citigroup/revenue',
 'https://www.macrotrends.net/stocks/charts/MS/morgan-stanley/revenue']

In [35]:
rev = []
for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    tables = soup.find_all('table')[1]
    data = []
    table_rows = table.find_all('tr')
    for row in table_rows:
        cells = row.find_all('td')
        if len(cells) > 0:
            data.append([cell.text.strip() for cell in cells])
    df = pd.DataFrame(data, columns=['Date', 'Revenue'])
    rev.append(df)

rev

[          Date  Revenue
 0   2023-03-31  $54,642
 1   2022-12-31  $47,409
 2   2022-09-30  $40,809
 3   2022-06-30  $34,233
 4   2022-03-31  $32,341
 5   2021-12-31  $30,675
 6   2021-09-30  $31,047
 7   2021-06-30  $31,832
 8   2021-03-31  $33,648
 9   2020-12-31  $30,627
 10  2020-09-30  $30,942
 11  2020-06-30  $35,334
 12  2020-03-31  $33,008
 13  2019-12-31  $34,320
 14  2019-09-30  $36,184
 15  2019-06-30  $35,952
 16  2019-03-31  $36,059
 17  2018-12-31  $31,909
 18  2018-09-30  $32,791
 19  2018-06-30  $32,834
 20  2018-03-31  $32,290
 21  2017-12-31  $28,022
 22  2017-09-30  $29,467
 23  2017-06-30  $29,173
 24  2017-03-31  $27,917
 25  2016-12-31  $26,990
 26  2016-09-30  $27,140
 27  2016-06-30  $26,846
 28  2016-03-31  $25,411
 29  2015-12-31  $24,815
 30  2015-09-30  $24,595
 31  2015-06-30  $25,642
 32  2015-03-31  $25,954
 33  2014-12-31  $24,639
 34  2014-09-30  $26,288
 35  2014-06-30  $26,741
 36  2014-03-31  $25,341
 37  2013-12-31  $26,176
 38  2013-09-30  $25,408
 39  2013-06-30  $27,579
 40  2013-03-31  $27,554
 41  2012-12-31  $26,055
 42  2012-09-30  $27,799
 43  2012-06-30  $25,133
 44  2012-03-31  $29,087
 45  2011-12-31  $24,394
 46  2011-09-30  $27,106
 47  2011-06-30  $30,575
 48  2011-03-31  $28,763
 49  2010-12-31  $29,608
 50  2010-09-30  $26,928
 51  2010-06-30  $28,133
 52  2010-03-31  $30,806
 53  2009-12-31  $26,401
 54  2009-09-30  $30,145
 55  2009-06-30  $29,502
 56  2009-03-31  $29,584,
           Date  Revenue
 0   2023-03-31  $54,642
 1   2022-12-31  $47,409
 2   2022-09-30  $40,809
 3   2022-06-30  $34,233
 4   2022-03-31  $32,341
 5   2021-12-31  $30,675
 6   2021-09-30  $31,047
 7   2021-06-30  $31,832
 8   2021-03-31  $33,648
 9   2020-12-31  $30,627
 10  2020-09-30  $30,942
 11  2020-06-30  $35,334
 12  2020-03-31  $33,008
 13  2019-12-31  $34,320
 14  2019-09-30  $36,184
 15  2019-06-30  $35,952
 16  2019-03-31  $36,059
 17  2018-12-31  $31,909
 18  2018-09-30  $32,791
 19  2018-06-30  $32,834
 20  2018-03-31  $32,290
 21  2017-12-31  $28,022
 22  2017-09-30  $29,467
 23  2017-06-30  $29,173
 24  2017-03-31  $27,917
 25  2016-12-31  $26,990
 26  2016-09-30  $27,140
 27  2016-06-30  $26,846
 28  2016-03-31  $25,411
 29  2015-12-31  $24,815
 30  2015-09-30  $24,595
 31  2015-06-30  $25,642
 32  2015-03-31  $25,954
 33  2014-12-31  $24,639
 34  2014-09-30  $26,288
 35  2014-06-30  $26,741
 36  2014-03-31  $25,341
 37  2013-12-31  $26,176
 38  2013-09-30  $25,408
 39  2013-06-30  $27,579
 40  2013-03-31  $27,554
 41  2012-12-31  $26,055
 42  2012-09-30  $27,799
 43  2012-06-30  $25,133
 44  2012-03-31  $29,087
 45  2011-12-31  $24,394
 46  2011-09-30  $27,106
 47  2011-06-30  $30,575
 48  2011-03-31  $28,763
 49  2010-12-31  $29,608
 50  2010-09-30  $26,928
 51  2010-06-30  $28,133
 52  2010-03-31  $30,806
 53  2009-12-31  $26,401
 54  2009-09-30  $30,145
 55  2009-06-30  $29,502
 56  2009-03-31  $29,584,
           Date  Revenue
 0   2023-03-31  $54,642
 1   2022-12-31  $47,409
 2   2022-09-30  $40,809
 3   2022-06-30  $34,233
 4   2022-03-31  $32,341
 5   2021-12-31  $30,675
 6   2021-09-30  $31,047
 7   2021-06-30  $31,832
 8   2021-03-31  $33,648
 9   2020-12-31  $30,627
 10  2020-09-30  $30,942
 11  2020-06-30  $35,334
 12  2020-03-31  $33,008
 13  2019-12-31  $34,320
 14  2019-09-30  $36,184
 15  2019-06-30  $35,952
 16  2019-03-31  $36,059
 17  2018-12-31  $31,909
 18  2018-09-30  $32,791
 19  2018-06-30  $32,834
 20  2018-03-31  $32,290
 21  2017-12-31  $28,022
 22  2017-09-30  $29,467
 23  2017-06-30  $29,173
 24  2017-03-31  $27,917
 25  2016-12-31  $26,990
 26  2016-09-30  $27,140
 27  2016-06-30  $26,846
 28  2016-03-31  $25,411
 29  2015-12-31  $24,815
 30  2015-09-30  $24,595
 31  2015-06-30  $25,642
 32  2015-03-31  $25,954
 33  2014-12-31  $24,639
 34  2014-09-30  $26,288
 35  2014-06-30  $26,741
 36  2014-03-31  $25,341
 37  2013-12-31  $26,176
 38  2013-09-30  $25,408
 39  2013-06-30  $27,579
 40  2013-03-31  $27,554
 41  2012-12-31  $26,055
 42  2012-09-30  $27,799
 43  2012-06-30  $25,133
 44  2012-03-31  $29,087
 45  2011-12-31  $24,394
 46  2011-09-30  $27,106
 47  2011-06-30  $30,575
 48  2011-03-31  $28,763
 49  2010-12-31  $29,608
 50  2010-09-30  $26,928
 51  2010-06-30  $28,133
 52  2010-03-31  $30,806
 53  2009-12-31  $26,401
 54  2009-09-30  $30,145
 55  2009-06-30  $29,502
 56  2009-03-31  $29,584,
           Date  Revenue
 0   2023-03-31  $54,642
 1   2022-12-31  $47,409
 2   2022-09-30  $40,809
 3   2022-06-30  $34,233
 4   2022-03-31  $32,341
 5   2021-12-31  $30,675
 6   2021-09-30  $31,047
 7   2021-06-30  $31,832
 8   2021-03-31  $33,648
 9   2020-12-31  $30,627
 10  2020-09-30  $30,942
 11  2020-06-30  $35,334
 12  2020-03-31  $33,008
 13  2019-12-31  $34,320
 14  2019-09-30  $36,184
 15  2019-06-30  $35,952
 16  2019-03-31  $36,059
 17  2018-12-31  $31,909
 18  2018-09-30  $32,791
 19  2018-06-30  $32,834
 20  2018-03-31  $32,290
 21  2017-12-31  $28,022
 22  2017-09-30  $29,467
 23  2017-06-30  $29,173
 24  2017-03-31  $27,917
 25  2016-12-31  $26,990
 26  2016-09-30  $27,140
 27  2016-06-30  $26,846
 28  2016-03-31  $25,411
 29  2015-12-31  $24,815
 30  2015-09-30  $24,595
 31  2015-06-30  $25,642
 32  2015-03-31  $25,954
 33  2014-12-31  $24,639
 34  2014-09-30  $26,288
 35  2014-06-30  $26,741
 36  2014-03-31  $25,341
 37  2013-12-31  $26,176
 38  2013-09-30  $25,408
 39  2013-06-30  $27,579
 40  2013-03-31  $27,554
 41  2012-12-31  $26,055
 42  2012-09-30  $27,799
 43  2012-06-30  $25,133
 44  2012-03-31  $29,087
 45  2011-12-31  $24,394
 46  2011-09-30  $27,106
 47  2011-06-30  $30,575
 48  2011-03-31  $28,763
 49  2010-12-31  $29,608
 50  2010-09-30  $26,928
 51  2010-06-30  $28,133
 52  2010-03-31  $30,806
 53  2009-12-31  $26,401
 54  2009-09-30  $30,145
 55  2009-06-30  $29,502
 56  2009-03-31  $29,584,
           Date  Revenue
 0   2023-03-31  $54,642
 1   2022-12-31  $47,409
 2   2022-09-30  $40,809
 3   2022-06-30  $34,233
 4   2022-03-31  $32,341
 5   2021-12-31  $30,675
 6   2021-09-30  $31,047
 7   2021-06-30  $31,832
 8   2021-03-31  $33,648
 9   2020-12-31  $30,627
 10  2020-09-30  $30,942
 11  2020-06-30  $35,334
 12  2020-03-31  $33,008
 13  2019-12-31  $34,320
 14  2019-09-30  $36,184
 15  2019-06-30  $35,952
 16  2019-03-31  $36,059
 17  2018-12-31  $31,909
 18  2018-09-30  $32,791
 19  2018-06-30  $32,834
 20  2018-03-31  $32,290
 21  2017-12-31  $28,022
 22  2017-09-30  $29,467
 23  2017-06-30  $29,173
 24  2017-03-31  $27,917
 25  2016-12-31  $26,990
 26  2016-09-30  $27,140
 27  2016-06-30  $26,846
 28  2016-03-31  $25,411
 29  2015-12-31  $24,815
 30  2015-09-30  $24,595
 31  2015-06-30  $25,642
 32  2015-03-31  $25,954
 33  2014-12-31  $24,639
 34  2014-09-30  $26,288
 35  2014-06-30  $26,741
 36  2014-03-31  $25,341
 37  2013-12-31  $26,176
 38  2013-09-30  $25,408
 39  2013-06-30  $27,579
 40  2013-03-31  $27,554
 41  2012-12-31  $26,055
 42  2012-09-30  $27,799
 43  2012-06-30  $25,133
 44  2012-03-31  $29,087
 45  2011-12-31  $24,394
 46  2011-09-30  $27,106
 47  2011-06-30  $30,575
 48  2011-03-31  $28,763
 49  2010-12-31  $29,608
 50  2010-09-30  $26,928
 51  2010-06-30  $28,133
 52  2010-03-31  $30,806
 53  2009-12-31  $26,401
 54  2009-09-30  $30,145
 55  2009-06-30  $29,502
 56  2009-03-31  $29,584]

In [36]:
rev = {}
for url, bank in zip(urls, banks):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    tables = soup.find_all('table')[1]
    data = []
    table_rows = tables.find_all('tr')
    for row in table_rows:
        cells = row.find_all('td')
        if len(cells) > 0:
            data.append([cell.text.strip() for cell in cells])
    df = pd.DataFrame(data, columns=['Date', bank])
    rev[bank] = df

In [46]:
from functools import reduce
dfs = list(rev.values())
merged = reduce(lambda left, right: pd.merge(left, right, on='Date'), dfs)

In [47]:
merged

,Date,JPM/jpmorgan-chase,GS/goldman-sachs,BAC/bank-of-america,C/citigroup,MS/morgan-stanley
0,2023-03-31,"$54,642","$12,224","$40,465","$37,494","$14,517"
1,2022-12-31,"$47,409","$10,593","$34,926","$30,444","$12,749"
2,2022-09-30,"$40,809","$11,975","$30,358","$25,864","$12,986"
3,2022-06-30,"$34,233","$11,864","$25,219","$23,304","$13,132"
4,2022-03-31,"$32,341","$12,933","$24,550","$21,466","$14,801"
5,2021-12-31,"$30,675","$12,639","$23,204","$19,026","$14,524"
6,2021-09-30,"$31,047","$13,608","$24,008","$19,406","$14,753"
7,2021-06-30,"$31,832","$15,388","$22,620","$19,738","$14,759"
8,2021-03-31,"$33,648","$17,704","$24,019","$21,695","$15,719"
9,2020-12-31,"$30,627","$11,741","$21,307","$19,063","$13,597"
10,2020-09-30,"$30,942","$10,781","$21,693","$20,123","$11,721"
11,2020-06-30,"$35,334","$13,295","$24,018","$23,275","$13,660"
12,2020-03-31,"$33,008","$8,743","$26,735","$26,378","$9,779"
13,2019-12-31,"$34,320","$9,955","$27,135","$24,926","$10,976"
14,2019-09-30,"$36,184","$8,323","$28,536","$26,110","$10,032"
15,2019-06-30,"$35,952","$9,461","$29,119","$26,520","$10,244"
16,2019-03-31,"$36,059","$8,807","$28,799","$25,893","$10,286"
17,2018-12-31,"$31,909","$8,080","$28,009","$23,977","$8,548"
18,2018-09-30,"$32,791","$8,820","$27,628","$24,757","$9,872"
19,2018-06-30,"$32,834","$9,636","$27,090","$24,354","$10,610"
20,2018-03-31,"$32,290","$10,080","$26,900","$24,032","$11,077"
21,2017-12-31,"$28,022","$8,491","$23,242","$22,041","$9,500"
22,2017-09-30,"$29,467","$8,326","$25,335","$22,798","$9,197"
23,2017-06-30,"$29,173","$7,887","$25,989","$22,191","$9,503"
24,2017-03-31,"$27,917","$8,026","$24,900","$21,932","$9,745"
25,2016-12-31,"$26,990","$8,352","$22,563","$21,212","$9,021"
26,2016-09-30,"$27,140","$8,168","$24,044","$20,934","$8,909"
27,2016-06-30,"$26,846","$7,932","$23,742","$20,668","$8,909"
28,2016-03-31,"$25,411","$6,338","$23,313","$20,495","$7,792"
29,2015-12-31,"$24,815","$7,273","$22,000","$21,357","$7,738"
30,2015-09-30,"$24,595","$6,861","$23,488","$21,633","$7,767"
31,2015-06-30,"$25,642","$9,069","$24,600","$22,521","$9,743"
32,2015-03-31,"$25,954","$10,617","$23,426","$22,764","$9,907"
33,2014-12-31,"$24,639","$7,688","$22,890","$21,058","$7,764"
34,2014-09-30,"$26,288","$8,387","$23,848","$23,014","$8,907"
35,2014-06-30,"$26,741","$9,125","$24,675","$23,040","$8,608"
36,2014-03-31,"$25,341","$9,328","$25,416","$23,797","$8,996"
37,2013-12-31,"$26,176","$8,782","$24,414","$21,821","$7,872"
38,2013-09-30,"$25,408","$6,722","$24,646","$21,856","$7,956"
39,2013-06-30,"$27,579","$8,612","$26,003","$24,646","$8,515"
40,2013-03-31,"$27,554","$10,090","$26,634","$24,578","$8,150"
41,2012-12-31,"$26,055","$9,236","$22,307","$22,347","$7,032"
42,2012-09-30,"$27,799","$8,351","$24,466","$18,729","$5,280"
43,2012-06-30,"$25,133","$6,627","$26,412","$23,730","$6,942"
44,2012-03-31,"$29,087","$9,949","$26,893","$24,996","$6,924"
45,2011-12-31,"$24,394","$6,049","$29,600","$21,839","$5,636"
46,2011-09-30,"$27,106","$3,587","$33,816","$26,862","$9,810"
47,2011-06-30,"$30,575","$7,281","$19,038","$27,060","$9,207"
48,2011-03-31,"$28,763","$11,894","$32,620","$25,779","$7,574"
49,2010-12-31,"$29,608","$8,642","$28,249","$24,564","$7,415"
50,2010-09-30,"$26,928","$8,903","$32,474","$26,921","$6,780"
51,2010-06-30,"$28,133","$8,841","$35,372","$28,500","$7,963"
52,2010-03-31,"$30,806","$12,775","$38,099","$31,712","$9,072"
53,2009-12-31,"$26,401","$9,615","$31,162","$12,128","$6,718"
54,2009-09-30,"$30,145","$12,372","$33,135","$27,070","$8,468"
55,2009-06-30,"$29,502","$13,761","$40,736","$36,811","$5,197"
56,2009-03-31,"$29,584","$9,425","$45,417","$32,178","$2,897"